/* Enter your styles here */
@layer reset,
button,
pricing;

/* my rest */
@layer reset {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  html,
  body {
    font-size: 100%;
    min-height: 100vh;
    display: grid;
    place-items: center;
    line-height: 1.6;
    font-family: Arial, sans-serif;
    background-color: rgb(217, 217, 193);
    padding: 1rem;
    overflow-x: hidden;
  }

  ul {
    list-style: none;
  }

  button {
    all: unset;
    cursor: pointer;
  }

  .row {
    flex: 100%;
  }
}

@layer button {
  .btn {
    background: white;
    padding: 0.25rem 0.75rem;
    letter-spacing: 0.7px;
    border-radius: 0.35rem;
    font-size: 0.9rem;
    font-weight: 600;
    color: #444;
    transition: opacity 0.3s;

    &:hover {
      opacity: 0.8;
    }
  }

  .btn--accent {
    background-color: red;
    color: white;

    &:hover {
      opacity: 1;
    }
  }

  .btn--dark {
    background: #404040;
    color: white;
  }
}

/* pricing ----------- */
@layer pricing {
  .pricing {
    background: white;
    padding: 2rem;
    border-radius: 8px;
    width: 100%;
    max-width: 800px;
    box-shadow: 16px 16px 16px 4px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 2rem;

    @media (width >768px) {
      padding: 3rem;
    }
  }

  .pricing-title {
    font-size: 2.5rem;
    line-height: 1.1;
    text-align: center;
    /* flex-basis: 100%; */
  }

  .pricing-buttons {
    background-color: rgb(240, 240, 240);
    padding: 0.5rem;
    border-radius: 0.5rem;
    display: flex;
    gap: 0.5rem;
  }

  .pricing-card {
    flex-basis: 100%;
    padding: 2.5rem 2rem;
    border-radius: 0.5rem;
    box-shadow: 4px 8px 12px 2px rgba(0, 0, 0, 0.2);
    position: relative;
    z-index: 100;
    overflow: hidden;
    display: flex;
    flex-direction: column;

    @media (width > 500px) {
      padding: 3rem 2.5rem;
      flex: 0 1 330px;
      height: 620px;
    }
  }

  .icon-box {
    /* justify-self: start; */
    background: red;
    height: 3.25rem;
    padding: 0.75rem;
    width: 3.25rem;
    border-radius: 0.4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    margin-bottom: 1rem;
  }

  .pricing-card:first-of-type .icon-box {
    background-color: rgba(255, 20, 30, 0.3);
  }

  .pricing-card:last-of-type .icon-box {
    background-color: rgba(255, 255, 255, 0.8);
    color: black;
  }

  .pricing-card:last-of-type h3 + p {
    color: #303030;
  }

  .pricing-card:last-of-type::before,
  .pricing-card:last-of-type::after {
    content: "";
    width: 100%;
    height: 100%;
    background-color: red;
    position: absolute;
    top: 0;
    z-index: -2;
    left: 0;
  }

  .pricing-card:last-of-type::before {
    background: rgba(255, 20, 25, 0.34);
    z-index: -1;
    height: 75%;
    border-radius: 50%;
    transform: scale(1.6);
    border-radius: 50%;
  }

  .pricing-card:last-of-type::after {
    background: rgba(255, 20, 25, 0.24);
    width: 86%;
    top: -2rem;
    left: -2rem;
    border-radius: 50%;
    transform: scale(1.25);
  }

  h3 {
    font-size: 2.2rem;
    color: #333;
    margin-bottom: 0.5rem;
    line-height: 1.1;
    display: flex;
    align-items: flex-end;
    gap: 0.5rem;

    span {
      font-size: 0.85rem;
      font-weight: 400;
      display: inline-block;
      text-transform: capitalize;
      color: white;
      letter-spacing: 0.75px;
      border: 1.2px solid;
      padding: 0.25rem 0.5rem;
      border-radius: 0.23rem;
    }
  }

  h3 + p {
    font-size: 0.9rem;
    color: gray;
  }

  .pricing-card:first-of-type .pricing-price {
    color: gray;
  }

  .pricing-price {
    margin: 1rem 0;

    span {
      color: #303030;
      font-size: 2.5rem;
      line-height: 1.1;
      font-weight: 600;
    }
  }

  .pricing-list li {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    margin-bottom: 1rem;
  }

  .pricing-card button {
    flex: 100%;
    text-align: center;
    margin-top: 2rem;
    text-transform: uppercase;
    padding: 0.7rem;
  }
}
